langchain
python-dotenv
ipykernel
langchain_community
pypdf
bs4
arxiv
wikipedia
langchain-text-splitters
langchain-openai
sentence_transformers
langchain_huggingface
faiss-cpu
duckdb
openai
langchain-groq
duckduckgo_search
pymupdf
validators
youtube_transcript_api
unstructured
pytube
huggingface_hub
streamlit
Flask
Flask-Bcrypt
Flask-SQLAlchemy
pytesseract
statsmodels
huggingface_hub
ollama
PyPDF2
requests
psycopg2
openai
sentence-transformers
deepseek
transformers
psycopg2-binary
Pillow
numpy
pandas
matplotlib
seaborn
scikit-learn
pytest
black
flake8
gunicorn
tqdm
langdetect
langchain
langdetect
Flask
bs4
sympy
pymupdf
streamlit
openai
langchain-openai
langchain-core
python-dotenv
opencv-python
easyocr
PyMuPDF
pdf2image
numpy
mysql
